.DS_Store
.env
.flaskenv
*.pyc
*.pyo
.venv
venv
venv/
venv/*/*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
venv/lib/python3.7/site-packages/easy-install.pth
